<hr>

<div class="grid-x grid-padding-x">
<fieldset class="large-6 cell">
<fieldset class="fieldset">
    <legend>My Check list</legend>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Set a budget, and determine how cost will be divided</label><br>
    <input id="checkbox2" type="checkbox"><label for="checkbox2">Select a date, and reserve venue</label><br>
    <input id="checkbox3" type="checkbox"><label for="checkbox3">Find an officient</label><br>
    <input id="checkbox4" type="checkbox"><label for="checkbox4">Book a florist, photographer and DJ</label><br>
    <legend>6 months Before</legend>
    <input id="checkbox5" type="checkbox"><label for="checkbox4">Find a caterer</label><br>
    <input id="checkbox6" type="checkbox"><label for="checkbox5">Select and order a bridal gown</label><br>
    <input id="checkbox7" type="checkbox"><label for="checkbox6">arrage transportation</label><br>
    <input id="checkbox8" type="checkbox"><label for="checkbox4">Shop weddings invitations</label><br>
    <legend>3 months before</legend>
    <input id="checkbox9" type="checkbox"><label for="checkbox7">Mail invitation</label><br>
    <input id="checkbox10" type="checkbox"><label for="checkbox8">Reserve tuxedos</label><br>
    <input id="checkbox11" type="checkbox"><label for="checkbox9">Finalize teh menue and flowers</label><br>
    <input id="checkbox12" type="checkbox"><label for="checkbox4">Meet with vendors</label><br>
    <legend>1 month before</legend>
    <input id="checkbox10" type="checkbox"><label for="checkbox10">Have your final dress fitting</label><br>
    <input id="checkbox11" type="checkbox"><label for="checkbox11">Write vows</label><br>
    <input id="checkbox12" type="checkbox"><label for="checkbox12">Finalize all details and confirm with vendors</label><br>
   
  </fieldset>
