<hr>

<div class="grid-x grid-padding-x">
<fieldset class="large-6 cell">
<fieldset class="fieldset">
    <legend>My check list</legend>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br>
   
  </fieldset>
