<div class="row column">
    <div class="callout text-center" style= "background-color: white ">
      <h3>Let us help you to put together "Your Perfect Moment"</h3>
      <p>That's right! Planning a wedding has never been easier or more enjoyable. At PlanMyEverAfter.com you get all of the benefits of the cumulative experience of our staff of wedding experts, right at your fingertips, in the form of wedding planning tools that will guide you through the process, while allowing you to customize anything that you want, every step of the way.</p>
      <a href="new-client.html" style="color:black" class="button large hollow">Create your Account</a> <br>
      <a href="my_planner.html" style="color:black" class="button large hollow">Start planning!</a>
    </div>
</div>