<!-- Start footer here -->
<footer> 
<div class="wrap row medium-up-1 medium-up-2">
  <div class="column">
    <h2 >Plan My Ever After</h2> 
  </div>
  
  <div class="column">
    <h4>Follow Us!</h4> 
    <!-- GitHub Repo Star Button! -->
    <a class="github-button" href="https://github.com/S-Voss/planMyEverAfter" data-icon="octicon-star" data-show-count="true" aria-label="Star S-Voss/planMyEverAfter on GitHub">Star</a>
    <!-- GitHub buttons! -->
    <a class="github-button" href="https://github.com/JimGray9999" aria-label="Follow @JimGray9999 on GitHub">Follow @JimGray9999</a>
    <a class="github-button" href="https://github.com/pane828" aria-label="Follow @pane828 on GitHub">Follow @pane828</a>
    <a class="github-button" href="https://github.com/S-Voss" aria-label="Follow @S-Voss on GitHub">Follow @S-Voss</a>
    <a class="github-button" href="https://github.com/rdeas" aria-label="Follow @rdease on GitHub">Follow @rdease</a>
  </div>
</div>

<div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <ul class="menu" style="color:black">
        <li><a href="index.html"> Home page</a></li>
        <li><a href="new-client.html">Contact Us!</a></li>      
        <li><a href="my_planner.html">Start Planning!</a></li>
        <li><a href="vendor cards.html">Vendors</a></li>
        <li><a href="blog.html">Our Blog</a></li>
      </ul>
      </div>
</footer>  