<div class="medium-6 columns">
    <label>Spouse-1 First Name
    <input id="spouse-1-first" type="text" placeholder="First name">
        </label>
    <label>Spouse-1 Last Name
        <input id="spouse-2-last" type="text" placeholder="First name">
        </label>
    <label>Spouse-2 First Name
        <input id="spouse-2-first" type="text" placeholder="First name">
        </label>
    <label>Spouse-2 Last Name
        <input id="spouse-2-last" type="text" placeholder="First name">
        </label>   
    <label>Email
        <input id="contact-email" type="text" placeholder="Email">
        </label>
    <label>Phone Number
        <input id="contact-phone" type="text" placeholder="Phone Number">
        </label>  
    <label>Zip code
        <input id="wedding-zip" type="text" placeholder="Zip Code">
        </label>>   
    <label>Event date
        <input id="event-date" type="text" placeholder="Event Date">
        </label>
    <label>budget
        <input id="max-budget" type="text" placeholder="Budget">
        </label>>
    <label>number of Guests
        <input id="guest" type="text" placeholder="guest">
        </label>>
    <label>
    Tell us more about your Wedding
    <textarea placeholder="holla at a designerd"></textarea>
    </label>

     <!--submit button  -->
    </label>
    <input type="submit" style="background-color:#854766" class="button expanded" value="Submit">
</div>