<!-- Start Top Bar -->
    
<div class="top-bar">
  <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text" style="color: black">
         <h2>Plan My Ever After</h2></li>
      </ul>
    </div>
      <ul class="menu" style="color:black">
        <li><a href="index.html"> Home page</a></li>
        <li><a href="new-client.html">Contact Us!</a></li>      
        <li><a href="my_planner.html">Start Planning!</a></li>
        <li><a href="vendor cards.html">Vendors</a></li>
        <li><a href="blog.html">Our Blog</a></li>
      </ul>
    </li>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input id="email-contact" type="email" placeholder="email"></li>
        <li><input id="password" type="password" placeholder="password"></li>
        <li><button Style="background-color:#3973ac " type="button" class="button">Search</button></li>
      </ul>
    </div>
</div>
  <hr>