<!-- Start Top Bar -->
<div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text" style="color: black"><a href="index.html"></a><h3>Plan My Ever After</h3></li>
      </ul>
    </div>
    <div class="top-bar-left">
      <ul class="menu" style="color:black">
        <li><a href="new-client.html">Contact Us!</a></li>
        <li><a href="blog.html">Start Planning!</a></li>
        <li><a href="vendor cards.html">Vendors</a></li>
        <li><a href="blog.html">Our Blog</a></li>
        <li><a href="my_planner.html">My Planner</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input id="email-contact" type="email" placeholder="email"></li>
        <li><input id="password" type="password" placeholder="password"></li>
        <li><button Style="background-color:teal " type="button" class="button">Search</button></li>
      </ul>
    </div>
</div>
  <hr>