<div class="row column">
        <div class="callout text-center" style= "background-color: #f2f2f2
        ">
          <!-- Wedding name (last names) -->
          <H3> Name & Name    </H3>

  <div class="row column">
        <div class="callout text-left" style= "background-color: #f2f2f2
              ">
          <!-- wedding date -->
          <p> Our Wedding Date    </p>
          <p> Number of Guests    </p>
          <p> Our Budget          </p>

          <p> 
          
        </div>
    </div>